<ion-header>
  <ion-toolbar>
    <ion-title>
      Zonas
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div #map class="map"> </div>

  <ion-grid>
    <ion-row>
      <ion-col size-md="6" size-sm="12">
        <ion-item>
          <ion-button (click)="saveZone()">
            Cadastrar Zona
          </ion-button>
        </ion-item>
      </ion-col>
      <ion-col size-md="6" size-sm="12">
        <ion-item>
          <ion-button (click)="cancelZone()">
            Cancelar
          </ion-button>
        </ion-item>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>