<ion-content>

  <div class="container">
    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-thumbnail>
            <img src="/assets/img/logo-uniritter.png">
          </ion-thumbnail>
        </ion-col>
      </ion-row>


      <!--ion-segment (ionChange)="segmentChanged($event)" mode="ios" value="login">
    <ion-segment-button mode="ios" value="login">
      <ion-label>Login</ion-label>
    </ion-segment-button>
    <ion-segment-button mode="ios" value="register">
      <ion-label>Cadastro</ion-label>
    </ion-segment-button>
  </ion-segment-->


      <ion-row>
        <ion-col>
          <ion-slides>
            <ion-slide>
              <div class="slide-inner ion-padding">
                <span class="title">Login</span>

                <ion-item class="ion-margin-top" lines="none">
                  <ion-input type="matricula" placeholder="Matrícula"></ion-input>
                </ion-item>

                <ion-item lines="none">
                  <ion-input type="password" placeholder="Senha"></ion-input>
                </ion-item>

                <ion-button (click)="login()" color="light" expand="block">
                  Entrar
                </ion-button>
              </div>
            </ion-slide>

            <ion-slide #slider>
              <div class="slide-inner ion-padding">
                <span>Cadastro</span>

                <form [formGroup]="registerForm">
                  <ion-item class="ion-margin-top" lines="none">
                    <ion-input type="text" placeholder="Nome" formControlName="name_register"></ion-input>
                    
                  </ion-item>
                  <div class="validators" *ngIf="registerForm.controls.name_register.errors">
                    <small *ngIf="registerForm.controls.name_register.errors.required">Esse campo é obrigatorio</small>
                  </div>

                  <ion-item lines="none">
                    <ion-input type="number" placeholder="Matrícula" formControlName="registration_register"></ion-input>
                  </ion-item>
                  <div class="validators" *ngIf="registerForm.controls.registration_register.errors">
                    <small *ngIf="registerForm.controls.registration_register.errors.required">Esse campo é obrigatorio</small>
                  </div>

                  <ion-item lines="none">
                    <ion-input type="password" placeholder="Senha" formControlName="password_register"></ion-input>
                  </ion-item>
                  <div class="validators" *ngIf="registerForm.controls.password_register.errors">
                    <small *ngIf="registerForm.controls.password_register.errors.required">Esse campo é obrigatorio</small>
                  </div>

                  <ion-button type="submit" (click)="register()" color="light" expand="block" [disabled]="!registerForm.valid">
                    Cadastrar
                  </ion-button>
                </form>
              </div>
            </ion-slide>
          </ion-slides>
        </ion-col>
      </ion-row>
    </ion-grid>

  </div>
</ion-content>